[submodule "logo-banks"]
	path = dev/gizmo/_sys/img/logo-banks
	url = https://github.com/tonezzz/logo-banks
[submodule "dev/_sys/img/logo-banks"]
	path = dev/_sys/img/logo-banks
	url = https://github.com/tonezzz/logo-banks
