
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

# Add SVG Mime Types
AddType image/svg+xml svg
AddType image/svg+xml svgz

#<IfModule mod_rewrite.c>
#RewriteEngine on
#RewriteBase /

#RedirectMatch 302 /th https:\/\/thakarn.gizmo-thailand.com
#RedirectMatch 302 /th/(.*) https:\/\/thakarn.gizmo-thailand.com/$2

#RedirectMatch 302 /en https:\/\/thakarn.gizmo-thailand.com/?lang=en
#RedirectMatch 302 /en/(.*) https:\/\/thakarn.gizmo-thailand.com/$2?lang=en

#RewriteCond %{HTTP:Accept-Language} ^(en|be|uk|kk) [NC]
#RewriteCond %{REQUEST_URI} ^/en/(.*)
#RewriteRule (.*) /$1?lang=en [P,L,R=301]

# Rewrite "/<lang>/<directory>/" to `/<directory>/index.php?lang=<lang>"
#RewriteCond %{DOCUMENT_ROOT}/$2/index.php -f
#RewriteRule ^([a-z]{2})/(.*?)/?$ $2/index.php?lang=$1 [L]

# Rewrite "/<lang>/<directory>/<file>" to `/<directory>/<file>?lang=<lang>"
#RewriteCond %{DOCUMENT_ROOT}/$2 -f
#RewriteRule ^([a-z]{2})/(.+) $2?lang=$1 [L]

#RedirectMatch 302 /(.*) https://thakarn.gizmo-thailand.com/$1?lang=th
#RedirectMatch 302 /en/(.*) https://thakarn.gizmo-thailand.com/$1?lang=en
#RedirectMatch 302 /th/(.*) https://thakarn.gizmo-thailand.com/$1?lang=th
#</IfModule>
